.catImg {
  /* width: 200px; */
  height: 100px;
}
#modalh2 {
  background-color: aqua;
}
.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  max-width: 100px;
  width: 100%;
}
.react-responsive-modal-modal {
  width: 250px;
}
/* .react-responsive-modal-overlay {
  
  background: rgba(36, 123, 160, 0.7);
} */
